* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #d4d4d4;
}

.container-header div {
  display: flex;
  gap: 1rem;
}
