@component('components/layout', { title: 'Accueil' })
  <h1>
    Mes decks
  </h1>
  <table>
    <thead>
      <tr>
        <th>
          Titre
        </th>
        <th>
          Description
        </th>
        <th>
          Cartes
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Capitales
        </td>
        <td>
          Les capitales du monde
        </td>
        <td>
          10
        </td>
      </tr>
    </tbody>
  </table>
@endcomponent
