<header>
  <div class="container-header">
    <a href="{{ route('home') }}">      <img height="75em" src="/img/logo.png" alt="logo" /></a>
    <div>
      <p>
        Username
      </p>
      <button>Déco</button>
    </div>
  </div>
</header>
